<div class="component">

<div class="page-header">
    <h3>Recent Blog Posts</h3>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img style="width: 180px" class="media-object" src="https://images.unsplash.com/photo-1465152251391-e94453ee3f5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=eb547af2367df6cfbac69dff54369063" alt="a surfer on a large wave">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
     dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium, similique explicabo impedit nihil porro dolores, mollitia, optio sed dolore at accusantium. Accusantium quis et error quibusdam! Esse debitis, hic.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img style="width: 180px" class="media-object" src="https://images.unsplash.com/photo-1464400694175-33544b41703d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=19791c353b47122b572fb56aa358d7db" alt="waves against a large cliff">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
     dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium, similique explicabo impedit nihil porro dolores, mollitia, optio sed dolore at accusantium. Accusantium quis et error quibusdam! Esse debitis, hic.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img style="width: 180px" class="media-object" src="https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=3a8d4023dc0ca25a51622550eee85bc1" alt="Northern lights">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> Lorem ipsum</h4>
     dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium, similique explicabo impedit nihil porro dolores, mollitia, optio sed dolore at accusantium. Accusantium quis et error quibusdam! Esse debitis, hic.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img style="width: 180px" class="media-object" src="https://images.unsplash.com/photo-1465152251391-e94453ee3f5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=eb547af2367df6cfbac69dff54369063" alt="a surfer on a large wave">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
     dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium, similique explicabo impedit nihil porro dolores, mollitia, optio sed dolore at accusantium. Accusantium quis et error quibusdam! Esse debitis, hic.
  </div>
</div>

</div>